/* 
    Autor.- Susana Fabián Antón
    Fecha creación.- 30/09/2020
    Última modificación.- 30/09/2020
*/
/*
    Colores:
        Verde: #67A282
        Marrón: #BFA393
        Marrón x2: #9D8B80
        Marrón /4: #DFD1C9
        Azul: #93AFBF
        Azul x2: #6E838F
        Azul /4: #C9D7DF
        Negro: #2A262C
*/
/* Reglas de estilo de reseteo */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: initial !important;
}
	
/* Reglas de estilo generales */
body>header {
    text-align: center;
}
main {
    margin: 0px 40px 0px 40px;
}
h1 {
    margin: 10px auto;
    padding: 5px;
    width: 80%;
    
    /* Colores*/
    background-color: #93AFBF;
    color: white;
}
h2 {
    border-bottom: 1.5px solid black;
    margin: auto;
    width: 20%;
}
h3 {
    border-bottom: 1.5px solid black;
    margin: 10px 0px 5px 0px;
    width: fit-content;
}
h4 {
    padding: 5px 20px;
    margin-bottom: 10px;
    width: fit-content;
    
    /* Colores */
    background-color: #93AFBF;
    color: white;
}
h5 {
    font-size: 1em;
    border-bottom: 1.5px solid black;
    margin: 10px 0px 5px 0px;
    width: fit-content;
    
}
section {
    margin: 5px;
    padding: 5px;
}
article {
    margin: 5px;
    padding: 5px;
}
p {
    margin: 10px 5px;
}
footer {
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    width: 80%;
    
    /* Colores */
    background-color: #9D8B80;
    color: white;
}
footer address {
    margin: 10px 5px;
}

/* Reglas de estilo de tablas */
table {
    width: 100%;
}
tr:nth-child(even) {
    background-color: #C9D7DF;
}
th, td {
    padding: 10px 20px;
}
td img {
    display: block;
    margin: auto;
}

/* Reglas de estilo de listas */
ul {
    list-style-position: inside;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    width: fit-content;
}
li {
    padding: 5px;
}

/* Reglas de estilo de formularios */
/*form { 
    background-color: #C9D7DF;
    border-radius: 15px;
    padding: 5px;
}
form>p {
    margin: 10px 20px;  
}
input {
    border: none;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    width: 100%;
}
input[type=radio] {
    width: auto;
}
input[type=submit] {
    background-color: #93AFBF;
    color: white;
    font-weight: bold;
    font-size: 1em;
    width: 25%;
}*/

/* Reglas de estilo extra */
.inline-block {
    display: inline-block;
    width: 30%;
}
.margin {
    margin: 5px;
    padding: 5px;
}
.incompleto {
    background-color: #DFD1C9;
}
.center {
    text-align: center;
}
.boton {
    /*background-color: #C9D7DF;*/
    background-color: #BFA393;
    /*background-color: #DFD1C9;*/  
    border: 3px outset #9D8B80;
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: fit-content;
}
.boton:hover {
    /*background-color: #93AFBF;*/
    border-style: inset;
}
.boton>a{
    text-decoration: none;
    color:white;
}